 @import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,regular,500,600,700,800,900);
 @import "tailwindcss";

 :root {
   --color-icon: #6C49F8;
   --secondary-main: #D618CE;
   --color-text-1: white;
   --color-text-2: #D9D9D9;
   --color-black: black;
   --background-2: #373638;
   --background-1: #373638;
   --accent-pink: #EF73A3;
   --accent-hotpink: #FF0065;

   /* Gradient 1: #000000 → #D618CE */
   --gradient-dark: linear-gradient(90deg, #000000 0%, #D618CE 100%);

   /* Gradient 2: #FF0065 (48%) → #000000 (0%) */
   --gradient-light: linear-gradient(90deg, rgba(255, 0, 101, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
 }

 body {
   background: linear-gradient(210deg, #000000 0%, #000000 70%, #D618CE 100%);

 } 